*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: wheat;
}

input{
    width: 2rem;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 300px;
    width: 580px;
    border: 1px solid #000;
}

.bg-red-circle{
    background-color: rgb(155, 11, 11);
    border: 2px solid black;
    border-radius: 25px;
}

.text-center{
    text-align: center;
}

.line-black{
    background-color: black;
    width: 85%;
    height: 2px;
    margin: 0 auto;
}

.p-2{
    padding: 2rem 0;
}

.p-1{
    padding: 1rem 0;
}